target create "tpolonen.filler"
settings set target.load-cwd-lldbinit true
settings set target.input-path ./testinput1
settings set target.input-path ./testinput2
settings set target.input-path ./testinput3
settings set target.input-path ./testinput4
# b can_read_board
# b can_read_piece
# b get_next_move
# b strategize
# b choose_target
# b find_new_target
# b matches_for_coord
